<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block head %}{% endblock head %}
</head>

<body>

    <nav>
        <ul>
            
            <a href="{% url "index" %}">Home page</a>
            <a href="{% url "login" %} " id="login">Login</a>
            <a href="{% url "logout" %} " id="login">Logout</a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </ul>    
    
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>